@page
@model IndexModel
@{
    ViewData["Title"] = "Cycliko Web App";
}

<div class="text-center">
    <h1 class="display-4">Welcome in Cycliko</h1>
    <p>@(User.Claims.First(_ => _.Type == "name").Value)</p>
</div>
