@page
@model Cycliko.Web.Pages.RequestEnergyQuoteModel
@{

}

<h4>Request Energy quote id:</h4>

 <form method="post">
    <input type="text" name="quoteid" class="w-50">
    <input type="submit">
</form> 
